@import './_colors.scss';
@import './_components.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Ubuntu', sans-serif;
}

img {
    max-width: 100%;
}


.wrapper {
    max-width: 1240px;
    margin: 0 auto;
}

.burger-icon {
    box-sizing: content-box;
    top: 25px;
    right: 25px;
    position: fixed;
    width: 50px;
    padding: 1em;
    z-index: 999;
    cursor: pointer;

    &:before,
    &:after,
    & div {
        background-color: $pure-white;
        content: "";
        display: block;
        height: 6px;
        border-radius: 3px;
        margin: 7px 0;
        transition: 0.5s;
    }

    &.black::after {
        background-color: #000;
    }

    &.black::before {
        background-color: #000;
    }

    &.black div {
        background-color: #000;
    }


    &.active:before {
        transform: translateY(12px) rotate(135deg);
    }

    &.active:after {
        transform: translateY(-12px) rotate(-135deg);
    }

    &.active div {
        transform: scale(0);
    }
}

.nav-mobile {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: $background-gradient;
    z-index: 998;
    text-align: center;
    transform: translateX(100%);
    transition: transform 1s;

    &__menu {
        list-style: none;
        padding: 2em;

        &>li {
            margin: 1em 0;
            padding: 1em;
        }

        &-item {
            text-transform: uppercase;
            letter-spacing: 1px;
            text-decoration: none;
            color: $pure-white;
            font-size: 3rem;
            padding: 1em;
        }
    }

    &.active {
        transform: translateX(0);
    }
}

@keyframes navItemsAnimation {
    from {
        transform: translateX(200%);
    }

    to {
        transform: translateX(0);
    }
}

.nav-items-animation {
    animation: navItemsAnimation 1s both;
}

.intro {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url('../../dist/img/nasa-Q1p7bh3SHj8-unsplash\ \(1\).jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: 'Overpass';

    &-bg {
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: $black-shadow;
    }


    &__text {

        &-heading {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // color: $pure-white;

            & h1 {
                font-size: 3rem;
                z-index: 1;
            }

            & h2 {
                z-index: 1;

                & .special-mark {
                    color: $pure-white;
                    font-size: 3rem;
                    vertical-align: 5px;
                }

                & .write-script {
                    color: $main-blue;
                    font-size: 5rem;

                }
            }
        }
    }
}

.ofert {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 2em;

    &-heading {
        padding: 1em;
        font-family: 'Overpass';

        &--title {
            font-size: 3rem;
            margin-bottom: 1em;
        }

        &--description {
            font-weight: 300;
            font-size: 1.8rem;
        }
    }


    &__box {
        display: flex;
        flex-direction: column;

        &-img {
            padding: 1em;

            & img {
                max-width: 100%;
            }
        }

        &-text {
            padding: 1em;
            line-height: 150%;
            font-size: 1.6rem;
            font-weight: 300;
            text-align: left;
        }
    }
}

.contact {
    margin: 2em 0;

    &__box {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 1em;

        &-form {

            &-box {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

// ==================
//     MEDIA 
// ==================

@media(min-width:576px) {
    .intro__text-heading {
        & h1 {
            font-size: 3.5rem;
        }

        & h2 {
            font-size: 5.3rem;
        }
    }

    .ofert {
        &-heading {
            &--title {
                font-size: 4rem;
            }

            &--description {
                font-size: 2rem;
            }
        }

        &__box-text {
            width: 80%;
            margin: 0 auto;
        }
    }
}


@media(min-width:768px) {
    .intro__text-heading {
        & h1 {
            font-size: 4rem;
        }

        & h2 {
            font-size: 5.8rem;
        }
    }

    .ofert {
        &-heading {
            &--title {
                font-size: 5rem;
            }

            &--description {
                font-size: 2.4rem;
            }
        }

        &__box {
            flex-direction: row;
            justify-content: center;
            align-items: center;

            &-img {
                width: 50%;

                & img {
                    width: 80%;
                }
            }

            &-text {
                width: 50%;
                font-size: 1.8rem;
            }
        }
    }

    .contact {
        &__box {
            flex-direction: row;

            &-img {
                width: 50%;
                order: 1;
            }

            &-form {
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                &-box {
                    width: 100%;
                }
            }
        }
    }
}



@media(min-width:992px) {
    .intro__text-heading {
        & h1 {
            font-size: 5rem;
        }

        & h2 {
            font-size: 6.3rem;
        }
    }

    .ofert {
        &-heading {
            &--title {
                font-size: 5rem;
            }

            &--description {
                font-size: 3rem;
            }
        }

        &__box {

            &-img {
                width: 50%;

                &-mobile {
                    display: none;
                }

                &-desktop {
                    display: block;
                }
            }

            &-text {
                width: 50%;
                font-size: 1.8rem;
            }
        }
    }
}

// @media(min-width:1200px) {
//     .intro {
//         background-image: url('../../dist/img/intro-bg-desktop.jpg');
//     }

// }

// @media(min-width:1500px) {
//     .intro {
//         background-image: url('../../dist/img/intro-bg-large.jpg');
//     }

// }



// ============
// Key Frames